[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
install = "*"
mysqlclient = "*"
flask-httpauth = "*"
pdfkit = "*"
code128 = "*"
qrcode = {extras = ["pil"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
